.card {
  background-color: var(--white);
  border: var(--border-02);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 400ms ease;
  height: 100%;
  
  .card__image {
    height: 125px;
    width: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .card__text {
    align-items: center;
    background-color: var(--white);
    border-top: var(--border-02);
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: var(--spacing-S);
    position: relative;
    text-align: center;
    transition: 300ms ease 200ms;
    flex: 1;

    p {
      position: relative;
      z-index: 2;
    }
  }
  .card__text::before,
  .card__text::after {
    background-color: var(--primary-02);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transform-origin: center;
    transition: 300ms ease 200ms;
    width: 60%;
  }
  .card__text::before {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    left: 0;
    transform: translateX(-100%);
  }
  .card__text::after {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    left: 40%;
    transform: translateX(100%);
  }
}

.card:hover {
  transform: translateY(-5px);

  .card__text {
    background-position: left;
    color: var(--white);
    text-shadow: 
    -1px -1px 0 var(--black),
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
    1px 1px 0 var(--black);
  }
  .card__text::before,
  .card__text::after {
    transform: translateX(0);
  }
}